<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
     <th>follows</th>
     <th><%= link_to user.followers.count, followers_user_path(user) %></th>
  </tr>
  <tr>
      <th>followers</th>
      <th><%= link_to user.followeds.count, followeds_user_path(user) %></th>
  </tr>
</table>
<% if user == current_user %>
  <div class='row'>
    <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
  </div>
<% end %>